:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --main_bg: rgba(241, 242, 243, 1);
  --second_bg: rgba(255, 255, 255, 1);
  --main_text: rgba(46, 48, 53, 1);
  --second_text: rgba(137, 148, 153, 1);
  --stroke: rgba(137, 148, 153, 0.2);

  /* solid */
  --solid_green: rgba(0, 171, 68, 1);
  --solid_green20: rgba(0, 171, 68, 0.2);
  --solid_red: rgba(233, 79, 55, 1);
  --solid_red10: rgba(255, 96, 96, 1);
  --solid_red20: rgba(233, 79, 55, 0.2);
  --solid_yellow: rgba(255, 179, 15, 1);
  --solid_yellow20: rgba(255, 179, 15, 0.2);
  --solid_sky: rgba(0, 205, 218, 1);
  --solid_sky20: rgba(0, 205, 218, 0.2);
  --solid_blue: rgba(94, 119, 255, 1);
  --solid_blue20: rgba(94, 119, 255, 0.2);

  /* static */
  --static_primary_gradient: linear-gradient(45deg, #ff9060 0%, #ffbf60 100%);
  --static_primary_solid: rgba(255, 144, 96, 1);
  --static_black100: rgba(46, 48, 53, 1);
  --static_white100: rgba(255, 255, 255, 1);
  --static_white80: rgba(255, 255, 255, 0.8);
  --static_white50: rgba(255, 255, 255, 0.5);
  --static_white30: rgba(255, 255, 255, 0.3);
  --static_white10: rgba(137, 148, 153, 0.1);
}

[data-theme="dark"] {
  --main_bg: rgba(46, 48, 53, 1);
  --second_bg: rgba(59, 63, 68, 1);
  --main_text: rgba(255, 255, 255, 1);
  --second_text: rgba(137, 148, 153, 1);
  --stroke: rgba(137, 148, 153, 0.1);

  /* solid */
  --solid_green: rgba(0, 171, 68, 1);
  --solid_green20: rgba(0, 171, 68, 0.2);
  --solid_red: rgba(233, 79, 55, 1);
  --solid_red10: rgba(255, 96, 96, 1);
  --solid_red20: rgba(233, 79, 55, 0.2);
  --solid_yellow: rgba(255, 179, 15, 1);
  --solid_yellow20: rgba(255, 179, 15, 0.2);
  --solid_sky: rgba(0, 205, 218, 1);
  --solid_sky20: rgba(0, 205, 218, 0.2);
  --solid_blue: rgba(94, 119, 255, 1);
  --solid_blue20: rgba(94, 119, 255, 0.2);

  /* static */
  --static_primary_gradient: linear-gradient(45deg, #ff9060 0%, #ffbf60 100%);
  --static_primary_solid: rgba(255, 144, 96, 1);
  --static_black100: rgba(46, 48, 53, 1);
  --static_white100: rgba(255, 255, 255, 1);
  --static_white80: rgba(255, 255, 255, 0.8);
  --static_white50: rgba(255, 255, 255, 0.5);
  --static_white30: rgba(255, 255, 255, 0.3);
  --static_white10: rgba(137, 148, 153, 0.1);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--second_bg);
  color: var(--main_text);
}

button,
input,
select {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  cursor: pointer;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--text);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
